::-webkit-scrollbar {
    width: 7px;
    background-color: #efefef;
}

::-webkit-scrollbar-thumb {
    background-color: #fa4529;
}

.gradient__instagram:hover {
    background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );
    color: white;
}